@font-face{
	font-family: Play;
	src:url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body{
	margin: 0;
	font-family: Play;
	background: url(pic/home.jpg) no-repeat center center fixed;
	background-size: cover;
	
}

.container-fullwidth{
	width: 100%;
	float: left;
	margin-bottom: 100px;
}

.container {
	width: 1280px;
	margin: auto;
	
}